{% extends 'base.html' %}
{% block container %}
<div class="container">

    <div class="mt-4 mb-3"><a href="/" class="btn-outline-secondary">Назад</a></div>
    <h2 class="р2 mb-3"><strong>Поиск: 6 результатов</strong></h2>
    <form>
    <div class="form-row">
      <div class="col-7">
        <input type="text" class="form-control" placeholder="Введите слова">
      </div>

      <div class="col">
        <input type="button" class="btn btn-primary" value="Найти">
      </div>
    </div>
  </form>

  <p>Например: <a href="" class="mx-2">Домик для кошки</a>  <a href="" class="mx-2">Лампа</a>  <a href="" class="mx-2" >Станок</a>  <a href="" class="mx-2">Мастерская</a>  <a href="" class="mx-2">Мастерская</a>  <a href="" class="mx-2" >Инструмент</a> </p>

  <div class="row mt-3">

     <div class="col-4 mt-4">
       <div class="card" style="width: 18rem;">
          <img src="http://placehold.it/700x300" class="card-img-top fluid">
          <div class="card-body">
            <a class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
            <a href="#" class="btn btn-primary btn-sm mt-3">Открыть</a>
          </div>
      </div>
     </div>
     <div class="col-4 mt-4">
       <div class="card" style="width: 18rem;">
          <img src="http://placehold.it/700x300" class="card-img-top fluid">
          <div class="card-body">
            <a class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
            <a href="#" class="btn btn-primary btn-sm mt-3">Открыть</a>
          </div>
      </div>
     </div>
     <div class="col-4 mt-4">
       <div class="card" style="width: 18rem;">
          <img src="http://placehold.it/700x300" class="card-img-top fluid">
          <div class="card-body">
            <a class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
            <a href="#" class="btn btn-primary btn-sm mt-3">Открыть</a>
          </div>
      </div>
     </div>

     <div class="col-4 mt-4">
       <div class="card" style="width: 18rem;">
          <img src="http://placehold.it/700x300" class="card-img-top fluid">
          <div class="card-body">
            <a class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
            <a href="#" class="btn btn-primary btn-sm mt-3">Открыть</a>
          </div>
      </div>
     </div>

     <div class="col-4 mt-4">
       <div class="card" style="width: 18rem;">
          <img src="http://placehold.it/700x300" class="card-img-top fluid">
          <div class="card-body">
            <a class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</a>
            <a href="#" class="btn btn-primary btn-sm mt-3">Открыть</a>
          </div>
      </div>
     </div>

  </div>

</div><!--/container-->

{% endblock %}